<link rel="stylesheet" href="css/homeAutoavaliacao.css"/>
<h1>Autoavaliação</h1>

<div>
    <p id="explicacao">
        A autoavaliação é um processo que vem em seguida do autoconhecimento. 
        São ferramentas que podem mudar seu jeito de pensar e agir e que, 
        se acompanhadas da execução plena de um bom plano de ação, podem significar uma transformação da sua vida.
         E para melhor!
    </p>
</div>
<div id="pergunta">
    <p>Selecione a Autoavaliação que você deseja fazer!</p>
</div>
<div class="btnOpc">
    <a href="/autoavaliacao/testeAnsiedade" ><button id="ansiedade">Ansiedade</button></a>
    <a href="/autoavaliacao/testeDepressao" ><button id="depressao">Depressao</button></a>
    <a href="/autoavaliacao/testeEstresse" ><button id="estresse">Estresse</button></a>
</div>
