<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/conteudos.css">
    <title>Estresse</title>
</head>
<body>
     

    <div class="corpo">
        <h1>Estresse</h1>
        <div class="divConteudos">
            <img class="imgConteudo" src="/imagens/estresseSintomas.png"/>
        </div>

        <div id="explicacao">
        <p id="conteudo">
             
        </p>
    </div>

    </div>
    
    <footer>
        <p></p>
    </footer>

    
    <script>
        document.querySelector("nav").style.display="none";
        icon=document.querySelector("#menu");
        icon.onclick= function(){
            nav=document.querySelector("nav");
            if(nav.style.display=="none")
                nav.style.display="block";

            else 
                nav.style.display="none";
                
            }

        x = document.querySelector("#x");
        x.onclick=function(){
            nav=document.querySelector("nav");
            nav.style.display="none";
        }
    </script>
</body>
